.fleet{
    .fleetbanner {
        background-image: url(../media/fleetbanner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;

        .bannerbg {
            background-color: rgba(0, 0, 0, 0.39);
            height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                color: white;
                font-family: 'Krona One', sans-serif;
            }
        }
    }

    .area{
        padding: 20px;
        border-bottom: 1px solid;
    }

    .fleetphoto{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        img{
            width: 100%;
        }
    }

    .content{
        .button{
            padding: 20px;
            font-size: 20px;
            background-color:  rgba(255, 102, 0, 0.534);
            border: none;
            &:hover{
                background-color:  rgb(255, 102, 0);
            }
        }
    }
}