.fleet{
    .fleetbanner {
        background-image: url(../media/reservationbanner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;

        .bannerbg {
            background-color: rgba(0, 0, 0, 0.39);
            height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                color: white;
                font-family: 'Krona One', sans-serif;
            }
        }
    }
}