.nav{
    background-color: rgba(32, 32, 32, 0.795);
    font-size: x-large;
    position: fixed;
    width: 100%;
    z-index: 1;
    .img{
        margin-left: 30px;
        img{
            width: 120px;
        }
    }

    .items{
        display: flex;
        justify-content: end;
        align-items: center;
        flex: 1;
        margin-right: 20px;
    }
    .text{
        color: white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
        &:hover{
            color: rgb(255, 102, 0);
        }
    }
}